th td {
  text-align: center;
}

td[colspan]:not([colspan="1"]) {
  text-align: center;
  font-weight: bold;
}

table td + td {
  border-left: 1px solid #00000012;
}

.chip-feature {
  display: inline-block;
  background: deeppink;
  color: white;
  padding: 0px 16px;
  border-radius: 20px;
  font-size: small;
}

.chip-fix {
  display: inline-block;
  background: goldenrod;
  color: white;
  padding: 0px 16px;
  border-radius: 20px;
  font-size: small;
}

.chip-build {
  display: inline-block;
  background: lightslategray;
  color: white;
  padding: 0px 16px;
  border-radius: 20px;
  font-size: small;
}

.chip-enhancement {
  display: inline-block;
  background: #4caf50;
  color: white;
  padding: 0px 16px;
  border-radius: 20px;
  font-size: small;
}

.chip-data {
  display: inline-block;
  background: #ff7043;
  color: white;
  padding: 0px 16px;
  border-radius: 20px;
  font-size: small;
}

.pdf {
  color: maroon;
}
